/* css structure

1. color variables
2. background settings 
3. typographic settings
4. navigation
5. main layout
6. components
7. meida queries

------------------------*/

:root {
    --reset-background-color:#708090; 
    --footer: rgba(224, 224, 224, 0.9);
    --header-background: rgba(224, 224, 224, 0.9);
    --heading-text: #202E44;
    --nav-links-hover: #CC6E4C;
    --section-background: rgba(0, 0, 0, 0.9);    
    --modal-background: rgba(0, 0, 0, 0.9);
    --section-text: #FFFFFF;
    --button-normal-grey: #333131;
    --button-normal-grey-hover: #807b7b;
    --button-normal-red: #D65F56;
    --btn-hover: #CC6E4C;
    --button-normal-red-hover: #d3836e;
    --button-normal-green: #1B401F;
    --button-normal-green-hover: #589d4f;
    --button-blue: #46669e;
    --button-blue-hover: #2871f0;
    --login-signup: rgba(224, 224, 224, 0.9);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body::before {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

body {
    background-attachment: fixed;
    background-image: url('https://res.cloudinary.com/dgve5ifit/image/upload/v1701175773/static/images/pexels-rudolf-jakkel-418831-_1__jpf0xo.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: relative;
    background-color: var(--reset-background-color);
}

/* 3. typographic settings ---------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Nunito', sans-serif;
}



main {
    margin-top: 4rem;
    margin-bottom: 5rem;
    width: 90%;    

}

footer {
    margin-top: 5rem;
    background-color: var(--footer) !important;
    padding: 33px 0;    
    position: relative;
}

/* 4. navigation   ---------*/

.navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar-brand, img > a {
    font-family: 'Roboto Mono', monospace;
    font-size:1.6rem;
    font-weight: 600;
}


.nav-link {
    color: var(--heading-text) !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: clamp(1.5rem, 5vw + 1rem, 0.9rem);
    font-weight: 600 !important;
}

.nav-link:hover {
    color: var(--nav-links-hover) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--nav-links-hover) !important;
}


.button-header {
    background-color: var(--header-background) !important;
}


/* 5. main layout  ---------*/

main {
    margin-top: 4rem;
    margin-bottom: 20rem;
    width: 90%;    

}

.section-background {
    background-color: var(--section-background)!important;
    color: var(--section-text)!important;
    padding: 1rem;
    font-size: 1.2rem;        
}


.login-signup {
    background-color: var(--login-signup)!important;
    color:var(--heading-text)!important;
    font-family: 'Nunito', sans-serif;
    font-size:1.25rem;
}


.login-signup  h5 {
    font-family: 'Roboto Mono', monospace;
    font-size:1.6rem;
    font-weight: 600;
}

.modal-background {
    background-color: var(--modal-background);
    color: var(--section-text);
    padding: 1rem;
    font-size: 1.2rem;
    list-style: none;
}


.booking-dash {
    margin-top: 4rem;
    margin-bottom: 6rem;
}



.menu-text ul li {
    color:var(--btn-hover);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    padding-bottom: 5px;
}


footer {
    margin-top: 5rem;
    background-color: var(--footer) !important;
    padding: 33px 0;    
    position: relative;
}


.privacy-text {
    font-size:0.8rem;    
    font-weight: 400;
    line-height:1.1; 
    word-break: keep-all;     
}



/* 6. components ---------*/

#cancel_booking {
    display: none;
    
}



.BTN-GREEN {
    background-color: var(--button-normal-green) !important;
    color: var(--section-text) !important;
}

.BTN-GREEN:hover {
    background-color: var(--button-normal-green-hover) !important;
    color: #FFFFFF !important;
}

.BTN-RED {
    background-color: var(--button-normal-red) !important;
    color: var(--section-text) !important;

}

.BTN-RED:hover {
    background-color: var(--button-normal-red-hover) !important;
    color: #FFFFFF !important;

}

.BTN-BLUE {
    background-color: var(--button-blue) !important;
    color: var(--section-text) !important;

}

.BTN-BLUE:hover {
    background-color: var(--button-blue-hover) !important;
    color: #FFFFFF !important;

}

.BTN-GREY {
    background-color: var(--button-normal-grey) !important;
    color: var(--section-text) !important;

}

.BTN-GREY:hover {
    background-color: var(--button-normal-grey-hover) !important;
    color: #FFFFFF !important;

}


.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline:var(--btn-hover);
    background-color: transparent!important;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: none!important;
    color:var(--button-normal-red)!important;
}



#map {
    width: 250px;
    height: 250px;
}

.upcoming-events {
    padding: 0 10px;        
    font-size: 1.2rem;    
    text-overflow: ellipsis;
}

.upcoming-events img {
    max-width: 350px;
    height: auto;
    width:100%;
    padding: 0 0.5px;
    border-radius: 15px;
    
}

.about-us {        
    padding: 0 10px;   
    font-size: 1.2rem;
    text-overflow: ellipsis;
    
}


.carousel-item img {

    width: 100%; 

    height: 300px; 

    object-fit: cover;
}


i {
    cursor: pointer;
    font-size: 1.7rem;
    padding-left: 4px;
}

i:hover {
    color: var(--btn-hover);
}

/* 7. media queries ---------*/


@media (max-width: 992px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    #contact-form-section {
        margin-bottom: 10px;
        order: 1;
    }

    #address-section {
        margin-bottom: 10px;
        order: 3;

    }

    #map-section {
        order: 2;
    }
    
    
}

@media (max-width: 768px) {    
    .upcoming-events img {
        max-width: 100%;
    }
    .upcoming-events {
        padding: 0 10px;        
        font-size: 1.2rem;    
        text-align: center;
    }    
    
    .about-us {
        margin-top:5px;        
        padding: 0 10px;        
        font-size: 1.2rem;
        text-align: center;
        
    }
    
}

@media screen and (max-height: 500px) {    
    main {
        margin-bottom: 50rem; 
    }

    footer {
        margin-top: 50rem; 
    }
    .upcoming-events img {
        max-width: 100%;
    }
    .upcoming-events {
        padding: 0 10px;        
        font-size: 1.2rem;    
        text-align: center;
    }    
    
    .about-us {        
        padding: 0 10px;        
        font-size: 1.2rem;
        text-align: center;
        
    }

    
}

@media (max-width: 411px) {    
    main {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 90%;
        
        
    }
    
    footer {
        margin-top: 4rem;
        background-color: var(--footer) !important;
        padding: 33px 0;    
        position: relative;
    }
    
}

@media (min-width: 498px) {
main {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 90%;    
    
}

footer {
    margin-top: 4rem;
    background-color: var(--footer) !important;
    padding: 33px 0;    
    position: relative;
}


}

@media (min-width: 378px) { 
    main {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 90%; 
    }
    
    footer {
        margin-top: 3em;
        background-color: var(--footer) !important;
        padding: 33px 0;    
        position: relative;
    }
   
}




