{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-3">
    <div class="card" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Your Booking Confirmation</h5>
            
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name:</th>
             <td class="text-end">{{ booking.first_name|default:"Not specified" }}
                 {{ booking.last_name|default:"" }}
             </td>
        </tr>
         <tr>
            <th scope="row">Number of Guests:</th>
            <td class="text-end">{{ booking.number_of_guests|default:"Not specified" }}</td>
         </tr>
         <tr>
            <th scope="row">Date</th>
            <td class="text-end">{{ booking.date|date:"Y-m-d" }}</td>
        </tr>
            <tr>
            <th scope="row">Time:</th>
            <td class="text-end">{{ booking.get_time_slot_display }}</td>
        </tr>
        <tr>
            <th scope="row">Contact Email:</th>
            <td class="text-end">{{ booking.email|default:"Not specified" }}</td>
         </tr>
        </tbody>
    </table>
            <div class="text-center">
                <a href="{% url 'bookings:booking_dashboard' %}" class="btn btn-secondary btn-sm">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

