{% extends 'base.html' %}
{% load django_bootstrap5 %}



{% block navbar %}
    {% if not request.user.is_authenticated %}
<nav class="navbar navbar-light bg-light button-header">
    <div class="container-fluid">
        <span class="d-flex justify-content-center">
            <a href="{% url 'accounts:signup' %}" class="btn BTN-BLUE lg me-3">Sign up</a>
            <a href="{% url 'accounts:login' %}" class="btn BTN-BLUE lg">Login</a>
        </span>
    </div>
    </div>
</nav>
{% endif %}
{% endblock %}




{% block content %}


<div class="container mt-3 booking-dash">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Booking DashBoard</h5>

            <p>Welcome, {{ request.user.username }}</p>


            {% if bookings %}

                {% for booking in bookings %}

                    <table class="table text-center">
                        <tr>
                            <th scope="row">Name:</th>

                            <td>{{ booking.first_name|default:"Not specified" }} {{ booking.last_name|default:"" }}</td>

                        </tr>
                        <tr>
                            <th scope="row">Number of Guests:</th>

                            <td>{{ booking.number_of_guests|default:"Not specified" }}</td>

                        </tr>
                        <tr>
                            
                            <th scope="row">Date & Time:</th>
                            <td>{{ booking.date|date:"Y-m-d" }} at {{ booking.time|date:"H:i" }}</td>

                        </tr>
                        <tr>

                            <th scope="row">Contact Email:</th>

                            <td>{{ booking.email|default:"Not specified" }}</td>

                        </tr>
                    </table>



                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>





                    

                    <a href="{% url 'bookings:edit_booking' booking_id=booking.id %}" class="btn btn-outline-dark btn-sm">Edit this booking</a>                                        
                    
                    <button class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#yousure{{ booking.id }}">Cancel</button>

                    <div class="modal fade" id="yousure{{ booking.id }}" tabindex="-1" role="dialog" aria-labelledby="CancelBookingModalAreYouSure" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel your booking?</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to cancel this booking?</p>
                                    <div class="modal-footer">
                                        <a href="{% url 'bookings:cancel_booking' booking_id=booking.id %}" class="btn btn-outline-dark btn-sm">Confirm Cancel</a>
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <a href="{% url 'bookings:make_booking' %}" class="btn btn-outline-dark btn-sm">Book a table</a>
            {% endif %}

            <a href="{% url 'accounts:logout' %}" class="btn btn-outline-dark btn-sm">Logout</a>

        </div>
    </div>
</div>


  
{% endblock %}


  