{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}


<div class="card login-card">    
    <div class="card-body">
      <h5 class="card-title">Login to Book!</h5>      
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'accounts:login' %}">
                
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% bootstrap_form_errors form type='all' %}
            {% bootstrap_form form layout='horizontal' %}

            <div class="d-grid gap-2">                
                <button type="submit" class="btn  BTN-GREEN btn-sm">Login</button>

                {% if request.GET.next %}

                <input type="hidden" name="next" value="{{ request.GET.next }}">

                {% endif %}
            </form>   
    </div>
  </div>
  
{% endblock %}