{% extends "base.html" %}
{% load static %}

{% block navbar %}

  {% if not request.user.is_authenticated %}

    <nav class="navbar navbar-light bg-light button-header">

      <div class="container-fluid">


        <span class="d-flex justify-content-center">
            
          <a href="{% url 'accounts:signup' %}" class="btn BTN-BLUE lg me-3">Sign up</a>
          <a href="{% url 'accounts:login' %}" class="btn BTN-BLUE lg">Login</a>
        </span>
      </div>
    </nav>
  {% endif %}

{% endblock navbar %}




{% block content %}

{% if not hide_map %}

    <div id="map"></div>
    
{% endif %}


  {% include 'shared_index.html' %}
  
    
{% endblock content %}
