{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<div class="card" style="width: 18rem;">    
    <div class="card-body">
      <h5 class="card-title">Login to Book!</h5>      
    </div>
    <div class="card-body">
    


        <form method="post" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}


            <div class="d-grid gap-2">
                <button type="submit" class="btn BTN-GREEN btn-sm">Sign up</button>
                
            </div>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>
{% endblock %}
