{% extends 'base.html' %}
{% block content %}



<div class="container section-background">
    
    <div class="row justify-content-start justify-content-md-center">
        <div class="col-lg-8 menu-text">

            <div class="row">              

                    <h3 class="card-title text-center">Evening Menu</h3>
                        <h5 class="text-center">Starters</h5>
                        <ul class="menu-text text-center">
                            {% for starter in starters %}
                            <li>
                                {{ starter.name }}
                            </li>
                            <td>
                            €{{ starter.price }}
                            </td>
                            {% endfor %}
                        </ul>

                        <h5 class="text-center">Main Courses</h5>
                        <ul class="menu-text text-center">
                            {% for main_course in main_courses %}
                            <li>
                                {{ main_course.name }}
                            </li>
                            <td>
                              €{{ main_course.price }}
                            </td>
                            {% endfor %}
                        </ul>

                        <h5 class="text-center">Desserts</h5>
                        <ul class="menu-text text-center">
                            {% for dessert in desserts %}
                            <li>
                                {{ dessert.name }}
                            </li>
                            <td>
                                €{{ dessert.price }}
                            </td>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
                </div>











  {% endblock %}