{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="card section-background menu-text">
                <div class="card-body">
                    <h3 class="card-title text-center">Recipes</h3>
                    <div>
                        <h5>Dark Chocolate Mousse with Freshly Stirred Raspberries</h5>

                        <h6>Crème Anglaise</h6>
                        <ul>
                            <li>370g milk</li>
                            <li>150g sugar</li>
                            <li>160g egg yolks</li>
                        </ul>
                        <p>Mix everything together in a stainless steel saucepan and heat while stirring until the cream
                            begins to thicken. Strain the cream through a sieve.</p>

                        <h6>Dark Chocolate Mousse</h6>
                        <ul>
                            <li>6 sheets of gelatin</li>
                            <li>600g whipping cream</li>
                            <li>300g dark chocolate</li>
                        </ul>
                        <p>Soak the gelatin sheets in water. Whip the cream to a loose foam and place it in the
                            refrigerator. Warm the chocolate in the microwave to 55 degrees Celsius, then blend the dark
                            chocolate and crème anglaise into a smooth cream. Lift up the gelatin sheets and melt them
                            in the microwave to 40-50 degrees Celsius, then stir them into the chocolate cream. Fold the
                            whipped cream into the chocolate cream to form a smooth mousse. Place in piping bags.</p>

                        <h6>Freshly Stirred Raspberries</h6>
                        <ul>
                            <li>500g raspberries</li>
                            <li>100g sugar</li>
                        </ul>
                        <p>Mix together and refrigerate.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>



{% endblock %}