{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid section-background">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 pe-3">
        <article>
            <h1 class="text-center">Upcoming Events</h1>
            <p class="text-center">26 NOV</p>
            <p class="text-center">Open Bar EVERY SUNDAY !!!</p>
        </article>
      </div>
      <div class="col-md-auto ms-3 pe-2">
        <h2 class="text-center">About Us</h2>
                        
        <p class="text-center">In 1997, nestled within a quiet forest, a chef transformed a simple
            childhood treehouse
            into a unique treetop restaurant.
        <p class="text-center"> Once a secret spot of joy, it was refurbished in 2021,
            and it’s now a cozy dining place where delicious meals bring back sweet memories among
            rustling leaves.</p>
        <p class="text-center"> With a mix of rustic charm and tasty dishes, it offers a memorable
            dining experience under the stars.</p>
    
      </div>      
    </div>
  </div>
 
  
{% endblock content %}
