{% block content %}

<div class="container section-background">
    
    <div class="row justify-content-start justify-content-md-center">
        <div class="col-lg-8">

            <div class="row">

                <div class="col-md-6 upcoming-events">

                    <article>
                        <h1>Upcoming Events</h1>
                        <p>26 NOV</p>
                        <p>Open Bar EVERY SUNDAY !!!</p>
                    </article>
                    <img srcset="https://res.cloudinary.com/dgve5ifit/image/upload/v1701177420/static/images/pexels-pixabay-274192_j3fi5z.webp" alt="busy bar night" style="width: 350px; height: 300px;">
                </div>


                <div class="col-md-6 abous-us">

                    <h2>About Us</h2>
                    
                    <p>In 1997, nestled within a quiet forest, a chef transformed a simple
                        childhood treehouse
                        into a unique treetop restaurant.</p>
                    
                        <p>Once a secret spot of joy, it was refurbished in 2021,
                        and it’s now a cozy dining place where delicious meals bring back sweet memories among
                        rustling leaves.</p>
                    
                        <p>With a mix of rustic charm and tasty dishes, it offers a memorable
                        dining experience under the stars.</p>
                </div>
            
            </div>
        </div>

    </div>
</div>
{% endblock content %}

